<% provide(:title, "RT Insurance") %>
<h1>RT Insurance - Seguro automotor en tiempo real</h1>
<p>
  RT Insurance es un servicio de seguro automotor con scoring en tiempo real.
  
  Paga solo por lo que usas el auto y los riesgos que decides tomar.
  
  
</p>