<div id="vehicles">
<% @vehicles.each do |v| %>
  <h3><%= "#{v.name}: #{v.price.version.model.name} #{v.price.version.name} #{v.price.currency} #{v.price.price}"%></h3>
  <div>
    <h4>Servicios contratados</h4>
	    <ul>
	    	<li>Seguro: La Meridional Completo</li>
	    	<li>Garantia extendida: Peugeot 365</li>
	    	<li>Auxilio mecánico: MobileService</li>
	    </ul>
    <h4>Sugerencias de optimización de costos</h4>
    <h4>Riesgos</h4>
        	<ul>
    		<li>Sugerencias en la conducción</li>
    		<li>Zonas peligrosas</li>
    		<li>Coberturas acotadas</li>
    	</ul>
  </div>
<% end %>
</div>
<%= link_to "Registrar vehículo", new_vehicle_path %>

