<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="/dashboard"><i class="fa fa-dashboard fa-fw"></i> Estado de mi flota</a>
            </li>

            <li>
                <a href="#"><i class="fa fa-edit fa-fw"></i> Administrar<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/drivers">Conductores</a>
                    </li>
                    <li>
                        <a href="/vehicles">Vehículos</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->