<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="/dashboard"><i class="fa fa-dashboard fa-fw"></i> Estado de mi flota</a>
            </li>

            <li>
                <a href="#"><i class="fa fa-edit fa-fw"></i> Administrar mi flota<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/drivers">Conductores</a>
                    </li>
                    <li>
                        <a href="vehiculos.html">Vehículos</a>
                    </li>
                    <li>
                        <a href="servicios.html">Servicios</a>
                    </li>
                    <li>
                        <a href="vehiculos.html">Otros Datos</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>


            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Servicios<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="conductores.html">Aseguradoras</a>
                    </li>
                    <li>
                        <a href="vehiculos.html">Garantía Extendida</a>
                    </li>
                    <li>
                        <a href="vehiculos.html">Servicio Mecánico</a>
                    </li>
                    <li>
                        <a href="vehiculos.html">Seguridad</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>

            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Reportes de gestión<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="conductores.html">Conductores</a>
                    </li>
                    <li>
                        <a href="vehiculos.html">Vehículos</a>
                    </li>
                    <li>
                        <a href="vehiculos.html">Costos</a>
                    </li>

                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->